{% extends 'base.html.twig' %}

{% block body %}
	<h1>liste des produits</h1>

	{% for product in products %}

		<h2>{{product.name}}</h2>
		<img src="{{product.picture}}" alt="">
		<p>{{product.created | date('d/m/Y')}}</p>
		<a href="{{path('product_fiche', {'id' :product.id})}}">
			<button>
				voir le produit
			</button>
		</a>

		<a href="{{path('cart_add', {'id' :product.id})}}">
			<button>
				ajouter ce produit au panier
			</button>
		</a>

	{% endfor %}
{% endblock %}
